{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card-body">
        <form>
  <input type="button" value="&laquo;" onclick="history.go(-1)" class="btn" style="
    position: relative; border: none; font-size: 40px; font-weight: bold; left: -50px;">

</form>
</div>
<div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        {% with comments.count as total_comments %}
            {% if total_comments == 1 %}
                <h2>{{ total_comments }} comment</h2>
            {% elif total_comments > 1 %}
                <h2>{{ total_comments }} comments</h2>
            {% endif %}
          <p>
          {% endwith %} {% for comment in comments %}
        </p>

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.date_added }}
            </span>
          </p>
          {{ comment.text | linebreaks }}
        </div>
          <p>
              <a class="edit" style="text-decoration: none; color: purple;
                padding: 10px;"
                  href="{% url 'blogs:replies' comment.id %}">Show Replies
              </a>
              <a class="edit" style="text-decoration: none; color: purple;
                padding: 10px;"
                  href="{% url 'blogs:reply' comment.id %}">Reply
              </a>
          </p>
        {% empty %}
        <h2>No comments</h2>
        {% endfor %}
      </div>
    </div>




{% endblock content %}